.form {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .form.reminder {
    border-left: 5px solid green;
  }
  
  .form h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fa-icon {
    align-items: right;
  }