<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <form class="bg-dark" action="">
          <p>Filter Search</p>
          <ul class="list-group bg-dark">
            <li class="list-group-item bg-dark">
              <label for="date">Enter Date </label>
              <input type="text" class="form-control" placeholder="1/10/2010" id="datetime">
            </li>

            <li class="list-group-item bg-dark">
              <label for="date">Enter a City</label>
              <input type="text" class="form-control" placeholder="roswell" id="city">
            </li>

            <li class="list-group-item bg-dark">
              <label for="date">Enter a State</label>
              <input type="text" class="form-control" placeholder="ca" id="state">
            </li>

            <li class="list-group-item bg-dark">
              <label for="date">Enter a Country</label>
              <input type="text" class="form-control" placeholder="us" id="country">
            </li>

            <li class="list-group-item bg-dark">
              <label for="date">Enter a Shape</label>
              <input type="text" class="form-control" placeholder="circle" id="shape">
            </li>
          </ul>
        </form>
      </div>
      
    </div>
  </div>