<app-nav></app-nav>
<body>   
<div class="container-fluid">
    <main class="tm-main">
   <!-- Search form -->
   <div class="row tm-row">
    <div class="col-12">
    </div>                
</div> 
<div>
<button (click)="login()">login</button>
<button (click)="getForm()">button</button>
</div>           
<div class="row tm-row">
    <ng-container *ngFor="let form of allForm">
        <article class="col-12 col-md-6 tm-post">
            <hr class="tm-hr-primary">
            <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
        
            <div class="tm-post-link-inner" *ngIf="form.image !== null;else display white">
                <img class="img-responsive" src="data:image/png;base64,{{form.image }}">                              
            </div> 
            <ng-template #display white>
                <div class="tm-post-link-inner">
                <img class="img-responsive" src="assets/img/white.png"> 
            </div>
            </ng-template>
            <span class="position-absolute tm-new-badge">{{ form.formStatus.formStatus }}</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ form.title }}</h2>
            </a>
            <p class="tm-pt-30">
                {{ form.description }}
            </p>

           <div class="d-flex justify-content-between tm-pt-45">
                <span class="tm-color-primary">{{ form.submitted | date:'MM/dd/yyyy'}}</span>
            </div>

            <hr>
        <div class="d-flex justify-content-between">
            <span></span>
         <span>by {{ form.author.firstName }}</span>
        
        
        </div>
        <div class="d-flex justify-content-between">
        <span>likes {{ form.likes }}</span>
        </div>
        <div class="d-flex justify-content-between">
        <span>dislikes {{ form.dislikes }}</span>
        </div>
    </article>
    
    </ng-container>
    </div>
    <div class="tm-paging-wrapper">
        <span class="d-inline-block mr-3">Page</span>
        <nav class="tm-paging-nav d-inline-block">
            <ul>
                <li class="tm-paging-item active">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                </li>
                <li class="tm-paging-item">
                    <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                </li>
            </ul>
        </nav>
    </div>                
             
<footer class="row tm-row">
    <hr class="col-12">
    <div class="col-md-6 col-12 tm-color-gray">
        Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
    </div>
    <div class="col-md-6 col-12 tm-color-gray tm-copyright">
        Copyright 2020 Xtra Blog Company Co. Ltd.
    </div>
</footer>
</main>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/templatemo-script.js"></script>
</body>