
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <h2>{{post}}</h2>
        <p class="navbar-brand">UFO Sightings</p>
        <img src="assets/ufo_image.png" alt="ufo_image_nav" width="45" height="auto">
        <div class="justify-content-center align-items-center container">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
          </div>
</nav>

